* {
    margin: 0;
    padding: 0;
}

body {
    background: url(https://preview.ibb.co/grcLtR/Layer_57.png)no-repeat center top/cover;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.wrapper {
    display: block;
    max-width: 1024px;
    min-height: 600px;
    margin: auto;
    position: relative;

}

nav {
    max-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70px;
    font-family: Dorsa;
    color: #263555;
}

.menu_left {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}

.menu_right {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: auto;
    height: 2em;
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Pathway Gothic One;
    position: relative;
   
}

.item a:hover {
    color: #263555;
}

.submenu {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    left: -9999px;
    width: 80px;
    height: auto;
    margin-top: 5px;
    border-radius: 5px;
    background: rgb(226, 214, 214);
}
.submenu::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid rgb(226, 214, 214);
    border-top:5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top:-10px;
    left: 36px;

}

.menu_left li:hover>.submenu {
    display: block;
    left: 0;
    text-align: center;
    font-family: Pathway Gothic One;
}

.submenu a {
    color: #fff;
}

section{
    display: flex;
    padding-top:60px; 
 
    width:100%;
    height:auto;
    background: #fff;
    font-family:Pathway Gothic One;
    text-transform:uppercase;
    font-size:30px;
       
}
section h4{
    display: block;
    padding-left:50px;
    font-family: Pathway Gothic One;
    color: #263555;
    text-decoration:none;  

}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    background: white;
}

.figure {
    padding: 15px 0;
}
.info{
    display:flex;
    flex-direction:row;

    width: 100%;
    height:200px ;
    background: #30455b;
    


}
.contact a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    font-family: Pathway Gothic One;
    font-size: 18px;
    color: #fff;
    padding-top: 15px;
}

.page a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    font-family: Pathway Gothic One;
    font-size: 18px;
    color: #fff;
    margin: auto;
}

.partners a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 100px;
    font-family: Pathway Gothic One;
    font-size: 18px;
    color: #fff;
    margin: auto;
}

.servis a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    font-family: Pathway Gothic One;
    font-size: 18px;
    color: #fff;
}

.sprit {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 40px;
    margin-top: 20px;
}

.sprit li {
    float: left;
    list-style: none;
    margin-right: 10px;
}
.sprit a {
    display: block;
    height: 40px;
    width: 40px;
    background: url(https://image.ibb.co/ciwTsb/sprite_social_buttons.png)0 0 no-repeat;
}

.sprit .google {
    background-position: -41px 0;
}

.sprit .init {
    background-position: -82px 0;
}

.sprit .twitter {
    background-position: -123px 0;
}

.sprit a:hover {
    background-position: 0 -40px;
}

.sprit .google:hover {
    background-position: -41px -40px;
}

.sprit .init:hover {
    background-position: -82px -40px;
}

.sprit .twitter:hover {
    background-position: -123px -40px;
}
.text{
    display:flex ;
    justify-content: center;
    color:#fff;
    
}